*.o
*.a
*.so
.DS_Store
compile_commands.json
.cache/
/tests/test_protocol
/tests/test_client_quota
/tests/test_public_api
/tests/test_responder
/bin/perf_client
/bin/r_test_responder
/examples/*/*-example
/examples/*/*-example.exe
